{% extends "base.html" %}
{% block title %}Welcome, {{ name }}!{% endblock %}
{% block head %}
  {{ super() }}
  <style>
    body {
      background-image: url('./static/img/pawns_crown.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;  
      background-size: 100% 100%;
      color: white;
    }
  </style>
{% endblock %}
{% block content %}

  <a href="{{ url_for('main.index') }}">
    <button type="button" class="btn-lg btn-primary btn-block">{{ go_to_main_page }}</button>
  </a>

  <h1>{{ welcome }} {{ name }}</h1><br><hr>

  <div class="row mx-auto">
    <div class="col">

      <!-- CrowdChess info -->
      <p class="h3 mx-auto"><strong>CrowdChess</strong> <small>(Wisdom of Crowd Chess)</small></p>

      <!-- engine info -->
      <p class="h6 ml-2 mt-3">Engine: <strong>Stockfish 14</strong></p>
    </div>
  </div>
  
  <hr>
  
  <!-- info -->
  <div class="row mx-auto mt-2">
    <h4 class="mx-auto">NOTE: !<h4>
    <small class="mx-auto">
      <!-- TODO: add note -->
    </small>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

{% endblock %}
