<!DOCTYPE html>
<html>

<head>
	{% block head %}
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %} - Crowd Chess (WoC)</title>
	
	<!-- TODO: change favicon -->
	<!-- favicon -->
	<link rel="shortcut icon" href="/static/favicon.ico">

	<!-- style.css -->
	<link rel="stylesheet" href="/static/css/style.css">

	<!-- JQuery -->
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

	<!--socket.io-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.min.js"></script>
	<script src="{{ url_for('static', filename='js/socketio.js') }}"></script>
	
	{% endblock %}
</head>

<body>
<section>
	<div class="container-fluid has-text-centered">
		<header id="top">
			<nav class="navbar navbar-expand navbar-light bg-light">

				<!-- online status -->
				<div class="onlineStatus float-right">
					<div class='icon-container'>
						<img src="/static/svg/pawn.svg" />
						<div class='status-circle'>
						</div>
					</div>
				</div>

				<ul class="navbar-nav mr-auto">
					
					<li class="nav-item active">
					<a class="nav-link" href="{{ url_for('main.index') }}" class="navbar-item">
						Home
					</a>
					</li>
					{% if current_user.is_authenticated %}
					<li class="nav-item active">
						<a class="nav-link" href="{{ url_for('main.about') }}" class="navbar-item">
						about
					</a>
					</li>
					{% endif %}
					{% if not current_user.is_authenticated %}
					<li class="nav-item active">
						<a class="nav-link" href="{{ url_for('auth.login') }}" class="navbar-item">
						Login
					</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="{{ url_for('auth.signup') }}" class="navbar-item">
						Sign Up
					</a>
					</li>
					{% endif %}
					{% if current_user.is_authenticated %}
					<li class="nav-item active">
						<a class="nav-link" href="{{ url_for('auth.logout') }}" class="navbar-item">
						Logout
					</a>
					</li>
					{% endif %}
				</ul>

				<!-- connected users -->
				<div style="font: size 8px;" class="ml-2">
					<b>Participants</b><br>
					<p id="participant_users" class="text-center">n/a</p>
				</div>

			</nav>

			<!-- collapsing Alert -->
			<div class="collapse" id="collapseAlert">
				<div class="alert alert-warning alert-dismissible" role="alert">
					<b id="alertMessage">Alert</b>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>

		</header>
				{% block content %}{% endblock %}
	</div>
</section>

	<div id="footer" class="card-footer">
		{% block footer %}
				<!-- links -->
				<div class="input-group mt-2 mb-3">
					<a href="https://github.com/98arYan13/CrowdChess" class="mx-auto ml-2" style="font-size: small;">CrowdChess (WoC) source code</a>
					<a href="mailto:wocChess@gmail.com" class="text-dark nav-link mx-auto">
						<strong class="ml-2 mt-1">wocChess@gmail.com</strong>
					</a>
					<a href="mailto:ikoiran@gmail.com" class="text-dark nav-link mx-auto">
						<strong class="ml-2 mt-1">ikoiran@gmail.com</strong>
					</a>
					<!--<a class="btn btn-warning mx-auto">حمایت مالی</a>-->
				</div>
		{% endblock %}
	</div>

</body>
</html>