{% extends "base.html" %}
{% block head %}
    {{ super() }}
	<!-- Bluma -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
{% endblock %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">{{ login }}</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
        <form method="POST" action="/login">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="email_phone" placeholder="{{ your_email_phone }}" autofocus="" pattern="^((09(1[0-9]|3[1-9]|2[1-9])-?[0-9]{3}-?[0-9]{4})|\w+@\w+\.\w{2,3})$">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="{{ your_password }}">
                </div>
            </div>
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox">
                    {{ remember_me }}
                </label>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">{{ login }}</button>
            <p class="mt-5 mb-3 text-muted">2021</p>
        </form>
    </div>
</div>
{% endblock %}