# change password
import os
import time


SECRET_KEY = os.urandom(16)

DEBUG = False

# loggers
engineio_logger = False
logger = False

# default move_time (seconds)
move_time = '1'

# defult engine depth
DEPTH = 10

# set number of multipv lines for recommended moves
MULTIPV = 3

# initial FEN (optional)
FEN = None

aggregation_method = "Plurality_vote"

pgn_file_name = aggregation_method + '__' + time.strftime("%Y-%m-%d_%H-%M") + '.pgn'
#pgn_file_name = 'test.pgn'

# default language is Farsi (Persian). for English, set value to 'en'
app_default_language = 'fa'
