# this is for admin login
# change secret_key & password
import os


USERNAME = 'user'
PASS = 'password'
SECRET_KEY = "top secret"

DEBUG = False

# default move_time (seconds)
move_time = '1'

# loggers
engineio_logger = False
logger = False