# this is for admin login
# change secret_key & password

USERNAME = 'user'
PASS = 'password'
SECRET_KEY = "top secret" # TODO: use this command: py -c 'import os; print(os.urandom(16))'

DEBUG = False